
.responsiveCal iframe { 
    position: absolute; top:5%; left: 0; width: 100%; height: 100%;
}

body {  background-color: lightblue;  }

h3 { font-family: Georgia, serif; font-weight: normal; }
p { color: #000000; font-family: Georgia, serif; }
a { color: #336633; font-family: Georgia, serif; text-decoration: none; }
